div#amplitude-player{
  background: #444;
  box-shadow: 0 2px 12px 8px rgba(0,0,0,0.10);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  max-width: 900px;
  margin-top: 5vh;
  margin-bottom: 50vh;
}


/* Small only */
@media screen and (max-width: 39.9375em) {
  div#amplitude-player{
    flex-direction: column;
    margin: 50px;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  div#amplitude-player{
    max-height: 450px;
    max-width: 600px;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
 div#amplitude-player{
   max-height: 480px;
   max-width: 720px;
 }
}
